<div class="sidebar" role="navigation">
    <div class="navbar-collapse">
        <nav class="cbp-spmenu cbp-spmenu-vertical cbp-spmenu-right dev-page-sidebar mCustomScrollbar _mCS_1 mCS-autoHide mCS_no_scrollbar"
             id="cbp-spmenu-s1">
            <div class="scrollbar scrollbar1">
                <ul class="nav" id="side-menu">
                    <li>
                        <a asp-controller="Agents" asp-action="Dashboard" class="active"><i class="fa fa-home nav_icon"></i>Dashboard</a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-cogs nav_icon"></i>Tables <span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level collapse">
                            <li>
                                <a asp-controller="Agents" asp-action="Registration" >All Registrations</a>
                            </li>
                           
                        </ul>
                        <!-- /nav-second-level -->
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-book nav_icon"></i>Payments <span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level collapse">
                            <li>
                                <a asp-controller="Agents" asp-action="Payments">Normal Payments</a>
                            </li>
                            <li>
                                <a asp-controller="Agents" asp-action="MakePayments">Make Payments</a>
                            </li>
                            <li>
                                <a href="typography.html">Bulk Payment</a>
                            </li>
                        </ul>
                        <!-- /nav-second-level -->
                    </li>
                    

                    <li>
                        <a href="#"><i class="fa fa-check-square-o nav_icon"></i>SMS Mangement<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level collapse">
                            <li>
                                <a href="inputs.html">Sms sent</a>
                            </li>
                            <li>
                                <a href="validation.html">Sent History</a>
                            </li>
                        </ul>
                        <!-- //nav-second-level -->
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-envelope nav_icon"></i>Agent Management<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level collapse">
                            <li>
                                <a href="inbox.html">Create Agent</a>
                            </li>
                            <li>
                                <a href="compose.html">Agent History</a>
                            </li>
                        </ul>
                        <!-- //nav-second-level -->
                    </li>
                    
                </ul>
            </div>
            <!-- //sidebar-collapse -->
        </nav>
    </div>
</div>